/* ------ Footer Component -------------------------------- */
.Footer {
    padding-top: 9em;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: blue;
}

/* ------ Header Component -------------------------------- */
.Header {
    padding-top: 0;
    text-align: left;
    padding-bottom: 1em;
    width: 100%;
    background-color: blueviolet;
}

/* ------ Not Found Page -------------------------------- */
.Not_Found {
    display: flex;
    background-color: blueviolet;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(75vh - 65px);
    padding-top: 75px;
}

/* ------ Home Page -------------------------------- */
.Home {
    display: flex;
    background-color: yellow;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(75vh - 65px);
    padding-top: 75px;
}

.Index {
    display: flex;
    background-color: orange;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(75vh - 65px);
    padding-top: 75px;
}

.CatNew {
    display: flex;
    background-color: #9fe2bf;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(75vh - 65px);
    padding-top:10px;
}


/* ------ Image -------------------------------- */
img {
    max-width: 75%;
    max-height: 75%;
}
